#map-canvas {
  position: absolute;
  height: 100vh;
  width: 100vw; }

.triangle {
  position: absolute;
  box-sizing: border-box;
  background: transparent; }
  .triangle::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 30px;
    left: 50%;
    box-sizing: border-box;
    border: 8px solid black;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -1px 2px 2px -1px rgba(0, 0, 0, 0.4); }
